name: Run Notebook Daily

on:
  # Allows manual trigger from the GitHub Actions UI
  workflow_dispatch:

  schedule:
    # Runs every day at 03:00 AM UTC.
    # Adjust the cron expression to your desired UTC time.
    - cron: '00 13 * * *'

jobs:
  run-notebook:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    permissions:
     contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create Service Account Key File
        run: |
          echo '${{ secrets.SERVICE_ACCOUNT_JSON_KEY }}' > service_account_key.json

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pandas requests google-auth google-api-python-client urllib3 openpyxl nbconvert jupyter pandas-gbq

      - name: Run Jupyter Notebook
        # Executes the notebook using nbconvert and overwrites the original with the output.
        run: jupyter nbconvert --to notebook --execute --inplace BigQuery.ipynb

      - name: Commit executed notebook
        # This step commits the executed notebook back to the repository.
        # It's useful for seeing the output directly in GitHub.
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Automated: Executed notebook via GitHub Actions"
          branch: main
          file_pattern: 'BigQuery.ipynb' # Only commits the specified notebook file
